<?php if (isset($_SESSION['errorregistro'])) : ?>
    <div id="alerta2" class="position-absolute col-6">
        <div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error: </strong>
                <?= $_SESSION['errorregistro'] ?>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
<?php helps::deleteSession('errorregistro'); endif; ?>

<div class="container mt-5">
    <div class="row p-4 justify-content-center">
        <div class="col-md-7 me-4 bg-light rounded shadow-sm p-4">
            <h2 class="text-center text-black">Formulario de Registro</h2>
            <form action="<?= init ?><?= department ?><?= registerDepartment ?>" method="post">
                <div class="form-group mb-3">
                    <label for="namede" class="form-label">Nombre del Departamento</label>
                    <input type="text" name="namede" id="namede" class="form-control" placeholder="Ingrese el nombre" required>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary px-5">Crear</button>
                </div>
            </form>
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <img id="imgRegister" src="assets/images/logos/DEPARTMENT.png" alt="Imagen de Registro" class="img-fluid rounded shadow-sm">
        </div>
    </div>
</div>
