<?php if(isset($_SESSION['errorregistro'])) : ?>
    <div id="alerta2" class="position-absolute col-6">
        <div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Informacion: </strong>
                <?=$_SESSION['errorregistro']?>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
<?php endif; ?>
<?php helps::deleteSession('errorregistro'); ?>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-primary text-white">
                    <h2>Formulario de registro</h2>
                </div>
                <div class="card-body">
                    <form action="<?=init?><?=pay?><?=registerPay?>" method="post">
                        <div class="form-group mb-3">
                            <label for="entity" class="form-label">Entidad Bancaria</label>
                            <select name="entity" id="entity" class="form-control" required>
                                <?php foreach($listBankEntities as $banksEntities) : ?>
                                    <option value="<?=$banksEntities['BANKING_ENTITY_ID']?>"><?=$banksEntities['NAME']?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="electionNumber" class="form-label">Numero De La Eleccion</label>
                            <input type="number" name="electionNumber" id="electionNumber" class="form-control" required>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="submit" class="btn btn-success" value="Crear">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <img id="payImage" class="img-fluid" src="assets/images/logos/pagos.png" alt="">
        </div>
    </div>
</div>