<?php if(isset($_SESSION['errorregistro'])) : ?>
<div id="alerta2" class="position-absolute col-6">
    <div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Informacion: </strong>
            <?=$_SESSION['errorregistro']?>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
<?php endif; ?>
<?php helps::deleteSession('errorregistro'); ?>
<div class="col-12 p-5 m-1 row">
    <div class="col-7 me-4">
        <h2 class="text-center">Formulario de registro</h2>
        <br>
        <br>
        <form action="<?=init?><?=purchasingStatus?><?=registerPurchasingStatus?>" method="post">
            <div class="form-group">
                <label for="psname">Nombre</label>
                <input type="text" name="psname" class="form-control" required>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-success" value="Crear">
            </div>
        </form>
    </div>
    <div class="col-3">
        <img id="gestionAdmin" class="d-block" src="assets/images/logos/estado.png" alt="">
    </div>
</div>