<!-- Mensaje de alerta de error -->
<?php if (isset($_SESSION['erroractualizar'])) : ?>
    <div id="alerta2" class="position-absolute col-6">
        <div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Información: </strong>
                <?= $_SESSION['erroractualizar'] ?>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <?php helps::deleteSession('erroractualizar'); ?>
<?php endif; ?>

<!-- Contenedor principal del formulario de actualización -->
<div class="container mt-5">
    <div class="card mx-auto shadow-sm p-4" style="max-width: 900px;">
        <h2 class="text-center text-black">Actualizar Estado</h2>
        <hr>
        <form action="<?= init ?><?= purchasingStatus ?><?= updatePurchasingStatus ?>&id=<?= $purchasingStatus['PURCHASING_STATUS_ID'] ?>" method="post">
            <div class="row g-4">
                <!-- Columna del formulario -->
                <div class="col-lg-8">
                    <div class="form-group mb-3">
                        <label for="nameps" class="form-label">Nombre</label>
                        <div class="input-group">
                            <span class="input-group-text rounded-0">Nombre</span>
                            <input type="text" name="nameps" value="<?= $purchasingStatus['NAME'] ?>" class="form-control" required>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <input type="submit" class="btn btn-success" value="Actualizar Datos">
                    </div>
                </div>
                <!-- Columna de la imagen -->
                <div class="col-lg-4 d-flex align-items-center justify-content-center">
                    <img id="imgRegister" class="img-fluid rounded-circle" src="assets/images/logos/EST.png" alt="Imagen Estado">
                </div>
            </div>
        </form>
    </div>
</div>
