<!-- Mensaje de Error -->
<?php if (isset($_SESSION['erroractualizar'])) : ?>
    <div id="alerta2" class="position-absolute col-6">
        <div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error: </strong>
                <?= $_SESSION['erroractualizar'] ?>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
<?php helps::deleteSession('erroractualizar'); endif; ?>

<div class="container mt-5">
    <div class="row p-4 justify-content-center">
        <div class="col-md-7 me-4 bg-light rounded shadow-sm p-4">
            <h2 class="text-center text-black">Actualizar Entidad Bancaria</h2>
            <form action="<?=init?><?=bankEntity?><?=updateBankEntity?>&id=<?=$bankEntity['BANKING_ENTITY_ID']?>" method="post">
                <div class="form-group mb-3">
                    <label for="namebe" class="form-label">Nombre</label>
                    <input type="text" name="namebe" id="namebe" value="<?=$bankEntity['NAME']?>" class="form-control" placeholder="Ingrese el nuevo nombre" required>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary px-5">Actualizar</button>
                </div>
            </form>
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <img id="imgUpdate" src="assets/images/logos/Entity.png" alt="Imagen de Actualización" class="img-fluid rounded shadow-sm">
        </div>
    </div>
</div>
