<?php if(isset($_SESSION['aciertoactualizacion'])) : ?>
<div id="alerta2" class="position-absolute col-6">
    <div>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Informacion: </strong>
            <?=$_SESSION['aciertoactualizacion']?>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
<?php endif; ?>
<?php helps::deleteSession('aciertoactualizacion'); ?>
<?php if(isset($_SESSION['erroractualizacion'])) : ?>
<div id="alerta2" class="position-absolute col-6">
    <div>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Informacion: </strong>
            <?=$_SESSION['erroractualizacion']?>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
<?php endif; ?>
<?php helps::deleteSession('erroractualizacion'); ?>
<div class="col-12 p-5 m-1 row">
    <div class="col-7 me-4">
        <h2 class="text-center">Cambiar contraseña</h2>
        <br>
        <br>
        <form action="<?=init?><?=user?><?=changePassword?>" method="post">
            <div class="form-group">
                <label for="oldpassword">Contraseña actual</label>
                <input type="passwordo" name="passwordo" class="form-control" required>
            </div>
            <br>
            <div class="form-group">
                <label for="newpassword">Contraseña nueva</label>
                <input type="passwordn" name="passwordn" class="form-control" required>
            </div>
            <br>
            <br>
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-success" value="Modificar">
            </div>
        </form>
    </div>
    <div class="col-3">
        <img id="imgClave" class="d-block" src="assets/images/logos/clave.png" alt="">
    </div>
</div>