<?php if (isset($_SESSION['errortransaccion'])) : ?>
    <div id="alerta2" class="position-absolute col-6">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Información:</strong> <?= $_SESSION['errortransaccion'] ?>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
<?php endif; ?>
<?php helps::deleteSession('errortransaccion'); ?>

<div class="container mt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Método de Pago</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Dirección de Envío</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Método de Pago</a>
        </li>
    </ul>

    <div class="tab-content mt-4">
        <form action="<?= init . transaction . confirm ?>" method="post">
            <input type="hidden" name="total" value="<?= $total ?>">

            <div class="tab-content mt-3" id="myTabContent">
                <!-- Método de Pago -->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="text-center">
                        <img src="assets/images/logos/bags.png" alt="Método de Pago" class="img-fluid">
                    </div>
                </div>

                <!-- Dirección de Envío -->
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <?php if (count($listDirections) > 0) : ?>
                        <h4>Selecciona tu dirección</h4>
                        <div class="list-group mt-3">
                            <?php foreach ($listDirections as $list) : ?>
                                <label class="list-group-item">
                                    <input type="radio" name="id_direction" value="<?= $list['DIRECTION_ID'] ?>" class="form-check-input me-2" checked>
                                    <strong>Carrera:</strong> <?= $list['CARRER'] ?>, 
                                    <strong>Calle:</strong> <?= $list['STREET'] ?>, 
                                    <strong>Código Postal:</strong> <?= $list['POSTAL_CODE'] ?>, 
                                    <strong>Dirección:</strong> <?= $list['DIRECTION'] ?>
                                </label>
                            <?php endforeach; ?>
                        </div>
                    <?php else : ?>
                        <h4>No tienes ninguna dirección creada</h4>
                        <div class="text-center mt-4">
                            <a class="btn btn-primary" href="<?= init . direction . windowRegisterDirection ?>">Crear dirección</a>
                        </div>
                    <?php endif; ?>
                </div>

                <!-- Método de Pago -->
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <?php if (count($listPays) > 0) : ?>
                        <h4>Selecciona tu método de pago</h4>
                        <div class="list-group mt-3">
                            <?php foreach ($listPays as $list) : ?>
                                <label class="list-group-item">
                                    <input type="radio" name="id_pay" value="<?= $list['PAY_ID'] ?>" class="form-check-input me-2" checked>
                                    <strong>Elección:</strong> <?= $list['NAME'] ?>, 
                                    <strong>Número:</strong> <?= $list['NUMBER_ELECTION'] ?>
                                </label>
                            <?php endforeach; ?>
                        </div>
                    <?php else : ?>
                        <h4>No tienes ningún método de pago creado</h4>
                        <div class="text-center mt-4">
                            <a class="btn btn-primary" href="<?= init . pay . windowRegisterPay ?>">Crear pago</a>
                        </div>
                    <?php endif; ?>
                </div>
            </div>

            <!-- Botón de Compra -->
            <?php if (count($listDirections) > 0 && count($listPays) > 0) : ?>
                <div class="text-center mt-5">
                    <button class="btn btn-primary" type="submit">Realizar Compra</button>
                </div>
            <?php endif; ?>
        </form>
    </div>
</div>
