<div class="container mt-5 mb-5">
    <h1 class="text-center mt-5 mb-5">Todos los productos</h1>
    <div class="row g-4">
        <?php foreach($listProducts as $list) : ?>
        <div class="col-md-3">
            <div class="card mx-auto h-100">
                <img class="card-img-top img-fluid" src="resources/imagesProducts/<?=$list['IMAGE']?>" alt=""
                    height="200px">
                <div class="card-body text-center">
                    <h3 class="card-title">
                        <?=$list['NAME']?>
                    </h3>
                    <p class="card-text text-success">
                        <?='$'.number_format($list['PRICE'], 0, ','); ?>
                    </p>
                    <div class="d-flex justify-content-center gap-2">
                        <?php if(isset($_SESSION['loginsuccess'])) : ?>
                        <a href="<?=init?><?=transaction?><?=shop?>&id=<?=$list['PRODUCT_ID']?>"
                            class="btn btn-success w-auto">
                            Comprar Ahora
                        </a>
                        <?php endif; ?>
                        <a href="<?=init?><?=product?><?=detailProduct?>&id=<?=$list['PRODUCT_ID']?>"
                            class="btn btn-primary w-auto">
                            Ver Detalle
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <?php endforeach; ?>
    </div>
    <br>
    <br>
</div>