<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FAVICON-->
    <link rel="icon" type="image/x-icon" href="assets/images/logos/logoT.png">
    <!--Incluir BOOTSTRAP-->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--Incluir JQUERY-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Suplement_Gym.</title>
</head>

<?php if(isset($_SESSION['loginsucces'])) : ?>
    <?php $information = Helps::showUserInformation();?>
<?php endif; ?>    

<body>
    <!--Contenedor principal-->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" href="<?=init?><?=product?><?=windowProducts?>">
                    <div class="rounded-circle overflow-hidden me-2" style="width: 40px; height: 40px;">
                        <img src="assets/images/logos/logoT.png"alt="Logo" class="img-fluid">
                    </div>
                    Suplement_Gym.
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <?php if(!isset($_SESSION['loginsuccesa'])) : ?>
                    <form action="<?=init?><?=product?><?=searchProduct?>" method="post" class="d-flex" role="search">
                        <div class="input-group ms-5 mt-2">
                            <span class="input-group-text" id="search-icon">
                                <img src="assets/images/logos/lupa.png" alt="Lupa" style="width: 20px; height: 20px;">
                            </span>
                            <input name="namebu" class="form-control" type="search" placeholder="Buscar Un Producto" aria-label="Search" required>
                        </div>
                    </form>
                    <?php endif; ?>
                    <ul class="navbar-nav ms-auto">
                        <?php if(!isset($_SESSION['loginsucces']) && !isset($_SESSION['loginsuccesa'])) : ?>
                        <li class="nav-item">
                            <a class="nav-link" href="<?=init?><?=administrator?><?=windowLoginAdministrator?>">¿Eres Administrador?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<?=init?><?=user?><?=windowLogin?>">Iniciar sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<?=init?><?=user?><?=windowRegisterUser?>">Registro</a>
                        </li>
                        <?php endif; ?>
                        <?php if(isset($_SESSION['loginsucces'])) : ?>
                        <li class="nav-item">
                            <a class="nav-link" href="<?=init?><?=transaction?><?=windowCar?>">
                                <i class="fas fa-shopping-cart"></i> Carrito
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hola, <?=$information['NAME']?>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="<?=init?><?=user?><?=myProfile?>">Mi Perfil</a></li>
                                <li><a class="dropdown-item" href="<?=init?><?=user?><?=managementProducts?>">Gestión de productos</a></li>
                                <li><a class="dropdown-item" href="<?=init?><?=user?><?=managementDirections?>">Gestión de direcciones</a></li>
                                <li><a class="dropdown-item" href="<?=init?><?=user?><?=managementPays?>">Gestión de pagos</a></li>
                                <li><a class="dropdown-item" href="<?=init?><?=user?><?=myShops?>">Mis compras</a></li>
                                <li><a class="dropdown-item" href="<?=init?><?=user?><?=mySales?>">Mis ventas</a></li>
                                <?php if($information['FOUNDER'] == 1 || $information['HIGHER_USER_ID'] != NULL) : ?>
                                    <li><a class="dropdown-item" href="<?=init?><?=network?><?=windowAddUser?>">Agregar Usuario</a></li>
                                <?php endif;?>
                                <?php if($information['HIGHER_USER_ID'] != NULL && $information['FOUNDER'] != 1) : ?>
                                    <li><a class="dropdown-item" href="<?=init?><?=user?><?=windowDisasociate?>">Desvincularse</a></li>
                                <?php endif; ?>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Cerrar sesión</a></li>
                            </ul>
                        </li>
                        <?php elseif(isset($_SESSION['loginsuccesa'])) : ?>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Cerrar sesión</a>
                        </li>
                        <?php endif; ?>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title fs-5" id="exampleModalLabel">Cerrar Sesión</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estas seguro que deseas cerrar la sesión?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        No
                    </button>
                    <button type="button" class="btn btn-danger" id="confirmLogout">
                        Sí, cerrar sesión
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>