<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FAVICON-->
    <link rel="icon" type="image/x-icon" href="assets/images/logos/logotienda.png">
    <!--Incluir BOOTSTRAP-->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/styles/styles.css">
    <!--Incluir JQUERY-->
    <title>EDUARD E.D.</title>
</head>
<?php if(isset($_SESSION['loginsucces'])) : ?>
<?php $information = Helps::showUserInformation();?>
<?php endif; ?>
<body>
    <!--Contenedor principal-->
    <div class="container-fluid">
        <div class="row">
            <!--MENU-->
            <nav id="navbar" class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="mb-3 mt-1">
                        <?php if(!isset($_SESSION['loginsuccesa'])) : ?>
                        <form action="<?=init?><?=product?><?=searchProduct?>" method="post" class="d-flex"
                            role="search">
                            <input name="namebu" class="form-control ms-5 mt-2 w-150" type="search"
                                placeholder="Buscar Un Producto" aria-label="Search" required>
                            <input type="image" class="lupa" src="assets/images/logos/lupa.png">
                        </form>
                        <?php endif; ?>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <?php if(!isset($_SESSION['loginsucces']) && !isset($_SESSION['loginsuccesa'])) : ?>
                            <li class="nav-item mx-3">
                                <a class="nav-link active" aria-current="page"
                                    href="<?=init?><?=administrator?><?=windowLoginAdministrator?>">¿Eres
                                    Administrador?</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link active" aria-current="page"
                                    href="<?=init?><?=user?><?=windowLogin?>">Iniciar sesion</a>
                            </li>
                            <li class="nav-item me-5 ms-3">
                                <a class="nav-link active" aria-current="page"
                                    href="<?=init?><?=user?><?=windowRegisterUser?>">Registro</a>
                            </li>
                            <?php endif; ?>
                            <?php if(isset($_SESSION['loginsucces'])) : ?>
                            <li>
                                <a href="<?=init?><?=transaction?><?=windowCar?>"><img class="car"
                                        src="assets/images/logos/verificar.png" alt=""></a>
                            </li>
                            <li class="nav-item dropdown mx-5">
                                <a id="enlace" class="nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Hola,
                                    <?=$information['NAME']?>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="<?=init?><?=user?><?=myProfile?>">Mi Perfil</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="<?=init?><?=user?><?=managementProducts?>">Gestion de productos</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="<?=init?><?=user?><?=managementDirections?>">Gestion de
                                            direcciones</a></li>
                                    <li><a class="dropdown-item" href="<?=init?><?=user?><?=managementPays?>">Gestion de
                                            pagos</a></li>
                                    <li><a class="dropdown-item" href="<?=init?><?=user?><?=myShops?>">Mis compras</a>
                                    </li>
                                    <li><a class="dropdown-item" href="<?=init?><?=user?><?=mySales?>">Mis ventas</a>
                                    </li>

                                    <?php if($information['FOUNDER'] == 1 || $information['HIGHER_USER_ID'] != NULL) : ?>
                                    <li><a class="dropdown-item" href="<?=init?><?=network?><?=windowAddUser?>">Agregar
                                            Usuario</a></li>
                                    <?php endif;?>
                                    <?php if($information['HIGHER_USER_ID'] != NULL && $information['FOUNDER'] != 1) : ?>
                                    <li><a class="dropdown-item"
                                            href="<?=init?><?=user?><?=windowDisasociate?>">Desvincularse</a></li>
                                    <?php endif; ?>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">Cerrar sesion</a></li>
                                </ul>
                            </li>
                            <?php elseif(isset($_SESSION['loginsuccesa'])) : ?>
                            <div class="mt-3 mb-3 me-4">
                                <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">Cerrar sesion</a></li>
                            </div>
                            <?php endif; ?>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--HEADER-->
            <header id="header" class="col-12 p-5 ps-5">
                <a id="home" href="<?=init?><?=product?><?=windowProducts?>">
                    <div class="row col-12">
                        <div class="col-2">
                            <img id="logotipoprincipal" src="assets/images/logos/logotienda.png" alt="">
                        </div>
                        <div class="col-10">
                            <h1 id="tituloPrincipal" class="text-center">EDUARD ENERGY DRINKS</h1>
                        </div>
                    </div>
                </a>
            </header>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title fs-5" id="exampleModalLabel">Cerrar Sesión</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estas seguro que deseas cerrar la sesión?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                                No
                            </button>
                            <button type="button" class="btn btn-danger" id="confirmLogout">
                                Sí, cerrar sesión
                            </button>
                        </div>
                    </div>
                </div>
            </div>