<?php if (isset($_SESSION['aciertoiniciarsesion'])) : ?>
    <div id="alerta2" class="position-absolute col-6">
        <div>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Información: </strong>
                <?= $_SESSION['aciertoiniciarsesion'] ?>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
<?php endif; ?>
<?php helps::deleteSession('aciertoiniciarsesion'); ?>

<div class="container my-5">
    <div class="text-center mb-4">
        <h1>Gestiones</h1>
        <p class="lead">Seleccione una opción para gestionar</p>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="<?= init ?><?= administrator ?><?= windowManagementUsers ?>" class="d-flex justify-content-between align-items-center text-decoration-none">
                        <span class="fs-5">Gestión de usuarios</span>
                        <span class="badge bg-primary rounded-pill">🔧</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="<?= init ?><?= administrator ?><?= windowManagementGenres ?>" class="d-flex justify-content-between align-items-center text-decoration-none">
                        <span class="fs-5">Gestión de géneros</span>
                        <span class="badge bg-primary rounded-pill">🔧</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="<?= init ?><?= administrator ?><?= windowManagementDepartments ?>" class="d-flex justify-content-between align-items-center text-decoration-none">
                        <span class="fs-5">Gestión de departamentos</span>
                        <span class="badge bg-primary rounded-pill">🔧</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="<?= init ?><?= administrator ?><?= windowManagementPurchasingStatus ?>" class="d-flex justify-content-between align-items-center text-decoration-none">
                        <span class="fs-5">Gestión de estados de compra</span>
                        <span class="badge bg-primary rounded-pill">🔧</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="<?= init ?><?= administrator ?><?= windowManagementBankEntities ?>" class="d-flex justify-content-between align-items-center text-decoration-none">
                        <span class="fs-5">Gestión de entidades bancarias</span>
                        <span class="badge bg-primary rounded-pill">🔧</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="<?= init ?><?= administrator ?><?= windowManagementNews ?>" class="d-flex justify-content-between align-items-center text-decoration-none">
                        <span class="fs-5">Gestión de noticias</span>
                        <span class="badge bg-primary rounded-pill">🔧</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="<?= init ?><?= administrator ?><?= windowManagementProducts ?>" class="d-flex justify-content-between align-items-center text-decoration-none">
                        <span class="fs-5">Gestión de productos</span>
                        <span class="badge bg-primary rounded-pill">🔧</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="<?= init ?><?= administrator ?><?= windowAddUserAdmin ?>" class="d-flex justify-content-between align-items-center text-decoration-none">
                        <span class="fs-5">Asignar Fundadores</span>
                        <span class="badge bg-primary rounded-pill">🔧</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
